# Скомпилированные объектные файлы и исполняемые
*.o
*.obj
*.exe
*.out
numer_diff

# Папки сборки
build/
bin/
obj/

# Файлы данных, генерируемые программой
parameters.txt

Kalitkin_Chislennye_metody_1978.djvu

# Файлы Python
__pycache__/
*.pyc
*.pyo

# Редакторы и IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.swo
